<app-black-background>
    <app-banner></app-banner>
    <div class="container mx-auto px-10 grid justify-center md:grid-cols-3 gap-10">
        <app-card-diferencial
          titulo="Soluções Sob Medida."
          descricao="Desenvolvemos sistemas e aplicativos personalizados para atender às necessidades exclusivas de cada cliente. Nada de soluções genéricas — criamos ferramentas sob medida para impulsionar o seu negócio."
          icone="gtn gtn-pencil-ruler-solid"
          active="false"
          >
        </app-card-diferencial>
      
        <app-card-diferencial
          titulo="Tecnologia de Ponta."
          descricao="Utilizamos as tecnologias mais avançadas do mercado, como .NET, Flutter, Angular e Python, para entregar soluções modernas, seguras e escaláveis. Sempre na vanguarda da inovação."
          icone="gtn gtn-cloud-1-light"
          active="true"
          >
        </app-card-diferencial>
      
        <app-card-diferencial
          titulo="Parceria Estratégica."
          descricao="Trabalhamos em estreita colaboração com nossos clientes, entendendo seus desafios e objetivos. Nossa missão é ser um parceiro estratégico no desenvolvimento de soluções que geram resultados reais."
          icone="gtn gtn-handshake-light"
          active="false"
          >
        </app-card-diferencial>
      </div>
      <div class="min-h-20"></div>
</app-black-background>
<app-dark-gray-background>
<div class="min-h-20"></div>

  <div class="container mx-auto px-10 grid justify-center md:grid-cols-3 gap-10">
    <app-section-title 
      title="Serviços" 
      subtitle="NOSSOS SERVIÇOS PARA CLIENTES"
      >
    </app-section-title>
    <div></div>
    <div></div>
    <app-card-service 
      icone="gtn gtn-design-light" 
      titulo="Desenvolvimento Web" 
      descricao="Desenvolvemos sistemas web modernos e personalizados, com foco em performance, usabilidade e escalabilidade para atender às necessidades empresariais mais complexas."
      active="false"
      >
    </app-card-service>
    <app-card-service 
      icone="gtn gtn-Custom-api-light" 
      titulo="iVertion (CRM e ERP)" 
      descricao="O iVertion é nosso sistema completo de CRM e ERP, integrando gestão de vendas, estoques, finanças e e-commerce para otimizar a administração do seu negócio."
      active="true"
      >
    </app-card-service>
    <app-card-service 
      icone="gtn gtn-smartphone2-light" 
      titulo="Desenvolvimento Mobile" 
      descricao="Criamos aplicativos móveis para Android e iOS, otimizados para eficiência, com interfaces intuitivas e funcionalidades personalizadas para melhorar a experiência dos usuários."
      active="false"
      >
    </app-card-service>
    <app-card-service 
      icone="gtn gtn-cloud-light" 
      titulo="Infraestrutura" 
      descricao="Oferecemos soluções de infraestrutura digital seguras e escaláveis, desde servidores cloud até a configuração completa de redes e hospedagens para suportar sistemas empresariais robustos."
      active="false"
      >
    </app-card-service>
    <app-card-service 
      icone="gtn gtn-pencil-ruler-solid" 
      titulo="Sistemas Customizados" 
      descricao="Criamos sistemas personalizados sob medida para atender a necessidades específicas, garantindo soluções inovadoras que se adaptam aos seus desafios empresariais."
      active="false"
      >
    </app-card-service>
    <app-card-service 
      icone="gtn gtn-support-light" 
      titulo="Consultoria e Suporte Técnico" 
      descricao="Oferecemos consultoria especializada e suporte técnico contínuo para garantir o sucesso e a evolução das suas soluções digitais."
      active="false"
      >
    </app-card-service>
  </div>
  <div class="min-h-20"></div>
</app-dark-gray-background>
<app-black-background>
  <div class="min-h-20"></div>
  <div class="container mx-auto px-10 grid justify-center md:grid-cols-3 gap-10">
    <app-section-title 
      title="Cases" 
      subtitle="CONFIRA NOSSOS CASES DE SUCESSO"
      >
    </app-section-title>
    <div></div>
    <div>
      <a routerLink="/projects" class="inline-block px-6 py-3 border-2 border-teal-200 text-teal-200 font-semibold text-lg leading-tight uppercase rounded hover:bg-teal-200 hover:text-black transition-colors duration-300">
        Veja todos
        <i class="gtn gtn-arrow-right-light"></i>
      </a>
    </div>
  </div>
  <div class="min-h-20"></div>
  <app-cases-slider></app-cases-slider>

</app-black-background>
<app-dark-gray-background>
  <div class="min-h-20"></div>
  <div class="container mx-auto px-10 grid justify-center md:grid-cols-3 gap-10">
    <app-section-title
    title="Sobre"
    subtitle="DESENVOLVEMOS SOFTWARE DESE 2018"
    >
    </app-section-title>
    <div></div>
    <div></div>
  </div>
  <div class="min-h-20"></div>
  <app-about-section></app-about-section>
  <app-values></app-values>

  
</app-dark-gray-background>
<app-black-background>
  <app-section-title-center
    title="Nossas Tecnologias."
    subtitle="UTILIZAMOS AS MELHORES E MAIS MODERNAS TECNOLOGIAS DO MERCADO PARA GARANTIR SOLUÇÕES ROBUSTAS, EFICIENTES E SOB MEDIDA PARA O SUCESSO DO SEU NEGÓCIO."
  >
  <div class="min-h-20"></div>
  </app-section-title-center>
  <div class="min-h-20"></div>
  <app-tech-carousel></app-tech-carousel>
  <div class="min-h-20"></div>

</app-black-background>

  