<!-- values.component.html -->
<div class="container mx-auto px-4 py-8">
    <div class="grid md:grid-cols-3 gap-8">
      <!-- Quem Somos -->
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-white text-xl font-bold mb-3">Quem Somos</h2>
        <p class="text-gray-300 text-justify">
          Somos uma equipe comprometida em oferecer soluções de software sob medida, que atendem às necessidades específicas de cada cliente. Nossos valores são pautados pela ética, transparência e a busca contínua pela excelência. Acreditamos que a tecnologia deve ser acessível e utilizada como uma ferramenta estratégica para o crescimento e transformação das empresas.
        </p>
      </div>
      <!-- Nossa Visão -->
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-white text-xl font-bold mb-3">Nossa Visão</h2>
        <p class="text-gray-300 text-justify">
          Ser referência no desenvolvimento de soluções tecnológicas personalizadas, reconhecidos pela inovação, confiabilidade e pela capacidade de impulsionar o sucesso de nossos clientes em um mercado em constante evolução.
        </p>
      </div>
      <!-- Nossa Missão -->
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-white text-xl font-bold mb-3">Nossa Missão</h2>
        <p class="text-gray-300 text-justify">
          Nossa missão é desenvolver softwares eficientes e personalizados que atendam aos desafios únicos de cada cliente, gerando valor para seus negócios e promovendo resultados concretos através da tecnologia.
        </p>
      </div>
    </div>
  </div>
  