@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-slide-in {
    animation: slideIn 1s ease-out;
  }

  .modal-content {
    overflow-y: scroll; /* Permitir a rolagem vertical */
    scrollbar-width: none; /* Esconder a barra de rolagem no Firefox */
  }
  
  .modal-content::-webkit-scrollbar {
    width: 0; /* Esconder a barra de rolagem no Chrome, Safari e outros navegadores baseados em WebKit */
  }
  