<app-banner-page
    backgroundUrl="./assets/images/Banners/8.png"
    title="POLÍTICA DE PRIVACIDADE"
    >
</app-banner-page>
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="LGPD"
                subtitle="POLÍTICA DE PRIVACIDADE E PROTEÇÃO DE DADOS PESSOAIS"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">O Mundo do Software está comprometido em proteger a privacidade e os dados pessoais de seus clientes, parceiros e usuários. Esta Política de Privacidade tem como objetivo esclarecer como coletamos, utilizamos, armazenamos e protegemos as informações pessoais fornecidas durante a utilização de nossos serviços, em conformidade com a Lei Geral de Proteção de Dados Pessoais (LGPD), Lei n.º 13.709/2018.</p>
        </div>
    </div>
</app-black-background>
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Quais Dados Coletamos"
                subtitle="DURANTE A INTERAÇÃO COM NOSSOS SERVIÇOS, PODEMOS COLETAR DIFERENTES TIPOS DE INFORMAÇÕES PESSOAIS, TAIS COMO:"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <ul class="list-disc mx-8">
                <li>Informações de contato: Nome, e-mail, número de telefone e endereço.</li>
                <li>Dados de navegação: Informações sobre seu dispositivo, endereço IP, localização geográfica, tipo de navegador e padrões de navegação.</li>
                <li>Dados de uso: Informações sobre como você interage com nossos serviços e nosso site, incluindo páginas visitadas, cliques e tempo de permanência.</li>
                <li>Outros dados fornecidos voluntariamente: Informações adicionais que você pode fornecer, como detalhes enviados em formulários de contato ou ao utilizar nossos serviços.</li>
            </ul>
        </div>
    </div>
</app-dark-gray-background>
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Como Utilizamos Seus Dados"
                subtitle="OS DADOS PESSOAIS COLETADOS TÊM AS SEGUINTES FINALIDADES:"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <ul class="list-disc mx-8">
                <li>Prestação de serviços: Utilizamos seus dados para fornecer nossos serviços de desenvolvimento de software, atendimento ao cliente e suporte técnico.</li>
                <li>Comunicação: Para entrar em contato com você em relação a serviços contratados, responder a dúvidas, enviar informações e atualizações.</li>
                <li>Personalização de experiência: Melhorar a sua experiência no nosso site, personalizando o conteúdo e a navegação.</li>
                <li>Análise de desempenho: Para entender melhor como nossos serviços estão sendo utilizados e aprimorar nosso desempenho.</li>
                <li>Conformidade legal: Para cumprir obrigações legais e regulatórias.</li>
            </ul>
        </div>
    </div>
</app-black-background>
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Compartilhamento de Dados"
                subtitle="O MUNDO DO SOFTWARE NÃO COMPARTILHA DADOS PESSOAIS COM TERCEIROS SEM O SEU CONSENTIMENTO, EXCETO NOS SEGUINTES CASOS:"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <ul class="list-disc mx-8">
                <li>Prestadores de serviços: Podemos compartilhar seus dados com fornecedores terceirizados que auxiliam na operação dos nossos serviços, como serviços de hospedagem, e-mails e plataformas de pagamento, sempre sob contrato que assegura a proteção dos seus dados.</li>
                <li>Conformidade legal: Quando exigido por lei, ordem judicial ou regulamentação governamental, podemos compartilhar seus dados com autoridades competentes.</li>
                <li>Proteção de direitos: Para proteger os direitos, propriedade ou segurança do Mundo do Software e de nossos usuários, conforme permitido pela legislação aplicável.</li>
            </ul>
        </div>
    </div>
</app-dark-gray-background>
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Direitos dos Titulares de Dados"
                subtitle="DE ACORDO COM A LGPD, VOCÊ TEM OS SEGUINTES DIREITOS EM RELAÇÃO AOS SEUS DADOS PESSOAIS:"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <ul class="list-disc mx-8">
                <li>Confirmação e acesso: Você pode solicitar confirmação sobre o tratamento de seus dados e acessar suas informações pessoais.</li>
                <li>Correção: Solicitar a correção de dados pessoais incompletos, inexatos ou desatualizados.</li>
                <li>Anonimização, bloqueio ou eliminação: Solicitar a anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a LGPD.</li>
                <li>Portabilidade dos dados: Solicitar a portabilidade dos dados a outro fornecedor de serviço ou produto.</li>
                <li>Revogação de consentimento: A qualquer momento, você pode revogar o consentimento fornecido para o tratamento dos seus dados pessoais.</li>
            </ul>
        </div>
    </div>
</app-dark-gray-background>
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Segurança dos Dados"
                subtitle="COMO PROTEGEMOS SEUS DADOS"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Implementamos medidas de segurança técnicas e administrativas para proteger os dados pessoais que coletamos. Utilizamos criptografia, firewalls e controles de acesso para garantir que suas informações estejam seguras e protegidas contra acessos não autorizados, perda, alteração ou divulgação indevida.</p>
            <p class="text-justify mx-8">Embora façamos o máximo para proteger seus dados, nenhuma transmissão de dados pela internet é completamente segura. Portanto, encorajamos que você tome precauções para proteger suas informações ao navegar online.</p>
        </div>
    </div>
</app-black-background>
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Retenção de Dados"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Manteremos seus dados pessoais apenas pelo tempo necessário para cumprir as finalidades para as quais foram coletados, inclusive para atender a quaisquer obrigações legais, contratuais ou de prestação de contas.</p>
        </div>
    </div>
</app-dark-gray-background>
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Alterações na Política de Privacidade"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Esta política de privacidade pode ser atualizada de tempos em tempos, conforme mudanças na legislação ou em nossos processos internos. Todas as alterações serão devidamente publicadas em nosso site, e você será informado de quaisquer mudanças significativas.</p>
        </div>
    </div>
</app-black-background>
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Fale Conosco"
                subtitle="SE VOCÊ TIVER DÚVIDAS SOBRE ESTA POLÍTICA DE PRIVACIDADE OU QUISER EXERCER SEUS DIREITOS CONFORME DESCRITO ACIMA, ENTRE EM CONTATO CONOSCO ATRAVÉS DOS SEGUINTES CANAIS:"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <ul class="list-disc mx-8">
                <li>E-mail: privacidade&#64;mundodosoftware.com.br</li>
                <li>Telefone: +55 (41) 9 8507-5085</li>
            </ul>
        </div>
    </div>
</app-dark-gray-background>