<app-banner-page
    backgroundUrl="./assets/images/Banners/13.png"
    title="TERMOS DE USO"
>
</app-banner-page>

<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Termos de Uso"
                subtitle="TERMOS E CONDIÇÕES GERAIS DE USO DO SITE E SERVIÇOS"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Ao acessar ou utilizar o site e os serviços do Mundo do Software, você concorda em cumprir estes Termos de Uso. Caso não concorde com os termos, solicitamos que não utilize nossos serviços ou navegue em nosso site.</p>
        </div>
    </div>
</app-black-background>

<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Aceitação dos Termos"
                subtitle="ACEITAÇÃO E CONFORMIDADE COM OS TERMOS"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Ao utilizar o site e os serviços oferecidos pelo Mundo do Software, você concorda com os termos e condições aqui descritos. O uso dos nossos serviços indica sua concordância integral com estes Termos de Uso.</p>
        </div>
    </div>
</app-dark-gray-background>

<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Modificações dos Termos"
                subtitle="ALTERAÇÕES NOS TERMOS E CONDIÇÕES"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">O Mundo do Software se reserva o direito de modificar os termos e condições deste acordo a qualquer momento. As alterações entrarão em vigor a partir da publicação no site. O uso contínuo dos serviços após a modificação constitui aceitação dos novos termos.</p>
        </div>
    </div>
</app-black-background>

<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Uso do Site e Serviços"
                subtitle="USO ADEQUADO DOS SERVIÇOS E SITE"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <ul class="list-disc mx-8">
                <li>Você concorda em utilizar o site e os serviços do Mundo do Software apenas para os fins permitidos pela lei e de acordo com estes Termos de Uso.</li>
                <li>É estritamente proibido usar o site ou serviços para qualquer atividade ilícita, fraudulenta ou abusiva.</li>
                <li>Você não deve infringir os direitos de propriedade intelectual do Mundo do Software ou de terceiros.</li>
                <li>Você concorda em não interferir no funcionamento do site, como ataques cibernéticos, phishing ou qualquer atividade que possa prejudicar o acesso de outros usuários.</li>
            </ul>
        </div>
    </div>
</app-dark-gray-background>

<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Propriedade Intelectual"
                subtitle="CONTEÚDO E DIREITOS AUTORAIS"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Todo o conteúdo, incluindo, mas não limitado a, textos, gráficos, logotipos, ícones, imagens e software, disponível no site do Mundo do Software é de propriedade exclusiva da empresa ou de seus licenciadores. O uso indevido, reprodução, modificação, distribuição ou qualquer outra forma de exploração não autorizada deste conteúdo sem o consentimento expresso da empresa constitui violação dos direitos de propriedade intelectual e poderá resultar em sanções legais.</p>
        </div>
    </div>
</app-black-background>

<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Limitação de Responsabilidade"
                subtitle="LIMITAÇÃO DE RESPONSABILIDADE LEGAL"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">O Mundo do Software não se responsabiliza por quaisquer danos diretos, indiretos, incidentais ou consequenciais decorrentes do uso ou da incapacidade de utilizar o site ou serviços. A empresa também não será responsável por quaisquer interrupções, erros ou falhas que possam ocorrer no site ou nos serviços fornecidos. O uso do site e dos serviços é feito por sua conta e risco.</p>
        </div>
    </div>
</app-dark-gray-background>

<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Links Externos"
                subtitle="LINKS PARA SITES DE TERCEIROS"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">O site do Mundo do Software pode conter links para sites de terceiros. Esses links são fornecidos apenas para conveniência do usuário. O Mundo do Software não possui controle sobre o conteúdo, práticas de privacidade ou termos de uso desses sites e não assume qualquer responsabilidade por eles. Ao acessar sites de terceiros, recomendamos que você revise seus termos e políticas de privacidade.</p>
        </div>
    </div>
</app-black-background>

<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Cancelamento de Serviços"
                subtitle="SOLICITAÇÃO DE CANCELAMENTO"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Caso você deseje cancelar qualquer serviço contratado com o Mundo do Software, é necessário enviar uma solicitação por escrito. O cancelamento estará sujeito às condições contratuais vigentes à época da contratação do serviço, incluindo prazos de aviso prévio e possíveis taxas de cancelamento.</p>
        </div>
    </div>
</app-dark-gray-background>

<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Conformidade Legal e Jurisdição"
                subtitle="LEGISLAÇÃO APLICÁVEL E JURISDIÇÃO"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Estes Termos de Uso são regidos e interpretados de acordo com as leis brasileiras. Qualquer disputa relacionada a estes termos será resolvida exclusivamente nos tribunais competentes de Curitiba, Paraná, Brasil.</p>
        </div>
    </div>
</app-black-background>

<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Fale Conosco"
                subtitle="ENTRE EM CONTATO CONOSCO PARA DÚVIDAS"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <ul class="list-disc mx-8">
                <li>E-mail: contato&#64;mundodosoftware.com.br</li>
                <li>Telefone: +55 (41) 9 8507-5085</li>
            </ul>
        </div>
    </div>
</app-dark-gray-background>
