

.title-container {
    position: relative;
    text-align: center;
    color: #fff;
    font-weight: bold;
  
    .section-title {
      font-size: 3rem;
    }
  
    .section-subtitle {
      font-size: 0.9rem;
      color: #66FCF1;
    }
  }
  