<app-banner-page
    backgroundUrl="./assets/images/Banners/6.png"
    title="Sobre Nós"
    >
</app-banner-page>
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-20"></div>
            <app-section-title
                title="Quem Somos"
            >
            </app-section-title>
            <p class="text-justify mx-8">No Mundo do Software, somos uma equipe de especialistas apaixonados por tecnologia e inovação. Desde a nossa fundação, temos o compromisso de desenvolver soluções de software que impulsionam o sucesso de empresas de todos os tamanhos. Combinamos experiência técnica, inovação constante e uma abordagem centrada no cliente para entregar projetos sob medida que resolvem os desafios específicos de cada negócio.</p>
            <p class="text-justify mx-8">Nossa equipe possui uma vasta experiência no desenvolvimento de sistemas web, aplicativos mobile e plataformas empresariais robustas, como o iVertion, nosso CRM e ERP completo. Trabalhamos lado a lado com nossos clientes para criar soluções digitais que fazem a diferença no mercado e impulsionam o crescimento.</p>

        </div>
    </div>
</app-black-background>
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-20"></div>
            <app-section-title
            title="Missão, Visão e Valores"
            >
            </app-section-title>
            <div class="min-h-20"></div>
            <app-section-title-center title="Missão"></app-section-title-center>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Nossa missão é criar soluções digitais que transformam a maneira como as empresas operam, otimizando processos, aumentando a eficiência e promovendo a inovação. Queremos ajudar nossos clientes a alcançarem seus objetivos através da tecnologia, criando sistemas que se adaptam às suas necessidades e acompanham o crescimento de seus negócios.</p>
            <div class="min-h-20"></div>
            <app-section-title-center title="Visão"></app-section-title-center>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Ser referência no mercado de desenvolvimento de software, reconhecida por nossa expertise técnica, compromisso com os resultados dos clientes e inovação contínua. Buscamos nos destacar pela excelência em cada projeto, proporcionando soluções que agregam valor real para nossos parceiros.</p>
            <div class="min-h-20"></div>
            <app-section-title-center title="Valores"></app-section-title-center>
            <div class="min-h-10"></div>
            <app-card-list-values [cards]="cardsValuesData">
            </app-card-list-values>
            

        </div>
    </div>
</app-dark-gray-background>
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-20"></div>
            <app-section-title
            title="Nossa História"
            >
            </app-section-title>
            <div class="min-h-20"></div>
            <p class="text-justify mx-8">O Mundo do Software nasceu com o objetivo de entregar soluções de software que fossem além do comum. Fundada por especialistas em desenvolvimento e gestão de sistemas, a empresa acumulou anos de experiência no mercado, trabalhando com empresas de diversos setores. Ao longo dos anos, nossa equipe participou da criação de sistemas que transformaram a maneira como as empresas operam, sempre com o compromisso de desenvolver projetos sob medida e entregar valor para nossos clientes.</p>
            <p class="text-justify mx-8">O nosso principal diferencial está na flexibilidade para atender às necessidades exclusivas de cada cliente. Desde o desenvolvimento de sistemas web e mobile, até soluções robustas como o iVertion, nosso CRM e ERP, oferecemos uma gama completa de serviços, sempre adaptados às demandas e desafios de cada projeto.</p>
        </div>
    </div>
</app-black-background>
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-20"></div>
            <app-section-title
                title="Por que Escolher o Mundo do Software?"
            >
            </app-section-title>
            <p class="text-justify mx-8">No Mundo do Software, acreditamos que o sucesso dos nossos clientes é o nosso sucesso. Por isso, oferecemos um atendimento altamente personalizado e uma metodologia de desenvolvimento que garante a entrega de soluções robustas e inovadoras. Alguns dos nossos principais diferenciais incluem:</p>
            <div class="min-h-10"></div>
            <app-card-list-values [cards]="cardsDiferencialData">
            </app-card-list-values>
            <div class="min-h-20"></div>
            <app-section-title-center title="Receba uma Proposta"></app-section-title-center>
            <div class="min-h-20"></div>
            <div class="container grid justify-itens-stretch">
                <div class="flex justify-self-center">
                    <a href="https://wa.me/+5541985075085" target="_blank" class="inline-block justify-self-center px-6 py-3 border-2 border-teal-200 text-teal-200 font-semibold text-lg leading-tight uppercase rounded hover:bg-teal-200 hover:text-black transition-colors duration-300">
                        Clique aqui
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
            <div class="min-h-20"></div>
        </div>
    </div>
</app-dark-gray-background>
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-20"></div>
            <app-section-title 
                title="Nossa Equipe"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Nossa equipe é composta por desenvolvedores, analistas e especialistas em tecnologia com vasta experiência no mercado de software. Cada membro do nosso time traz uma combinação única de habilidades técnicas e conhecimento de negócios, permitindo que possamos entregar soluções completas e adaptadas às necessidades dos nossos clientes. Acreditamos na importância do trabalho em equipe e na colaboração para criar soluções inovadoras que realmente façam a diferença.</p>
            <div class="min-h-20"></div>
            <app-section-title-center title="Fale com um especialista"></app-section-title-center>
            <div class="min-h-20"></div>
            <div class="container grid justify-itens-stretch">
                <div class="flex justify-self-center">
                    <a href="https://wa.me/+5541985075085" target="_blank" class="inline-block justify-self-center px-6 py-3 border-2 border-teal-200 text-teal-200 font-semibold text-lg leading-tight uppercase rounded hover:bg-teal-200 hover:text-black transition-colors duration-300">
                        Clique aqui
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
            <div class="min-h-20"></div>
        </div>
    </div>
</app-black-background>
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-20"></div>
            <app-section-title 
                title="Trabalhe Conosco"
                subtitle="Quer Fazer Parte da Nossa Equipe?"
            >
            </app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">Estamos sempre à procura de novos talentos apaixonados por tecnologia e inovação para se juntar ao Mundo do Software. Se você quer trabalhar em projetos desafiadores e contribuir para o desenvolvimento de soluções que impactam empresas em todo o Brasil, entre em contato conosco e descubra as oportunidades disponíveis.</p>
            <div class="min-h-20"></div>
            <app-section-title-center title="Envie seu currículo"></app-section-title-center>
            <div class="min-h-20"></div>
            <div class="container grid justify-itens-stretch">
                <div class="flex justify-self-center">
                    <a href="https://wa.me/+5541985075085" target="_blank" class="inline-block justify-self-center px-6 py-3 border-2 border-teal-200 text-teal-200 font-semibold text-lg leading-tight uppercase rounded hover:bg-teal-200 hover:text-black transition-colors duration-300">
                        Clique aqui
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
            <div class="min-h-20"></div>
        </div>
    </div>
</app-dark-gray-background>
