<footer class="bg-gray-900 text-white p-6 justify-center ">
    <div class="container mx-auto grid grid-cols-1 justify-center md:grid-cols-5 gap-8">
        <div>
            <h3 class="text-white text-lg font-bold mb-2">Serviços</h3>
            <ul>
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>Desenvolvimento de Software</a></li>
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>Soluções Empresariais</a></li>
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>Consultoria e Suporte Técnico</a></li>
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>Desenvolvimento para Eventos e Instituições</a></li>
            </ul>
        </div>
        <div>
            <h3 class="text-white text-lg font-bold mb-2">Links Rápidos</h3>
            <ul>
                <!-- <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>Blog</a></li> -->
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>LGPD</a></li>
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>Política de Privacidade</a></li>
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>Termos de Uso</a></li>
            </ul>
        </div>
        <div class="flex flex-col items-center md:justify-start">
            <img src="assets/images/Logo_com_texto_fundo_escuro.png" alt="Mundo do Software" class="mb-4 w-56">
            <p class="text-gray-400 text-center text-xs">Soluções que transformam negócios.</p>
        </div>
        <div>
            <h3 class="text-white text-lg font-bold mb-2">Contato</h3>
            <ul>
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa fa-map-marker-alt mr-2"></i>Curitiba – Paraná – Brasil</a></li>
                <li><a href="tel:+5541985075085" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa fa-phone mr-2"></i>+55 (41) 9 8507-5085</a></li>
                <li><a href="mailto:contato@mundodosoftware.com.br" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa fa-envelope mr-2"></i>contato&#64;mundodosoftware.com.br</a></li>
            </ul>
        </div>
        <div>
            <h3 class="text-white text-lg font-bold mb-2">Empresa</h3>
            <ul>
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>Sobre Nós</a></li>
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>Serviços</a></li>
                <li><a routerLink="/" class="hover:text-teal-200 text-xs"><i class="text-teal-200 fa-solid fa-chevron-right mr-2"></i>Projetos</a></li>
            </ul>
        </div>
    </div>
    <div class="text-center mt-8">
        <a routerLink="/" class="text-gray-400 hover:text-teal-200 mx-2"><i class="fa fa-facebook-official"></i></a>
        <a routerLink="/" class="text-gray-400 hover:text-teal-200 mx-2"><i class="fa fa-instagram"></i></a>
        <a routerLink="/" class="text-gray-400 hover:text-teal-200 mx-2"><i class="fa-brands fa-linkedin"></i></a>
        <a routerLink="/" class="text-gray-400 hover:text-teal-200 mx-2"><i class="fa-brands fa-github"></i></a>
        <a routerLink="/" class="text-gray-400 hover:text-teal-200 mx-2"><i class="fa-brands fa-square-whatsapp"></i></a>
        <a routerLink="/" class="text-gray-400 hover:text-teal-200 mx-2"><i class="fa-brands fa-square-youtube"></i></a>
    </div>
    <p class="text-center text-gray-400 mt-4">© 2024 Mundo do Software. Todos os direitos reservados.</p>
</footer>
