  <div class="min-h-screen flex flex-col bg-black">
    <app-header></app-header>
    <!-- Aqui entra o conteúdo da página -->
    <main class="flex-grow">
      <router-outlet></router-outlet>
    </main>
    <app-image-overlay-background backgroundUrl="./assets/images/Banners/11.png">
      <app-section-title-center 
        title="Tem algum projeto em mente?"
        subtitle="NÃO PERCA TEMPO"
      >
      </app-section-title-center>
      <div class="min-h-20"></div>
      <div class="container grid justify-itens-stretch">
          <div class="flex justify-self-center">
              <a href="https://wa.me/+5541985075085" target="_blank" class="inline-block justify-self-center px-6 py-3 border-2 border-teal-200 text-teal-200 font-semibold text-lg leading-tight uppercase rounded hover:bg-teal-200 hover:text-black transition-colors duration-300">
                  Comece já
                  <i class="gtn gtn-speed-light"></i>
              </a>
          </div>
      </div>
      <div class="min-h-20"></div>
    </app-image-overlay-background>
    <app-footer></app-footer>
  </div>
  
  