<app-banner-page
    backgroundUrl="./assets/images/Banners/3.png"
    title="Projetos"
    >
</app-banner-page>
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-20"></div>
            <app-section-title title="Projetos" subtitle="CONHEÇA OS PROJETOS QUE DESENVOLVEMOS"></app-section-title>
            <div class="min-h-20"></div>
        </div>
        <div class="grid md:grid-cols-3 gap-8">
            <app-card-image
                [imageUrl]="'./assets/images/cases/sinqia.webp'" 
                [imageAlt]="'Escritório da Sinqia S/A'" 
                [title]="'Sinqia S/A'" 
                [description]="'Entre 2018 e 2023, nossa equipe trabalhou na Sinqia S/A desenvolvendo automações de processos para uma Fintech líder ...'" 
                [modalContent]="[
                                'Entre 2018 e 2023, nossa equipe trabalhou na Sinqia S/A desenvolvendo automações de processos para uma Fintech líder no mercado financeiro. Utilizando tecnologias como C#/.NET, SSIS e SQL Server, implementamos soluções inovadoras que otimizaram processos cruciais do negócio.',
                                'Dentre as automações desenvolvidas, destacam-se o disparo automático de e-mails, a geração e o processamento de arquivos de registros de boletos (CNAB), e a atualização diária de cotações de ativos. Essas automações não só aumentaram a eficiência operacional, mas também reduziram significativamente o risco de erros humanos, assegurando um fluxo de trabalho mais ágil e seguro.', 
                                'Esses resultados são um exemplo claro do impacto que soluções tecnológicas bem planejadas podem trazer para um negócio. Estamos prontos para aplicar essa experiência para beneficiar a sua empresa, criando automações que otimizem processos e impulsionem resultados. Venha fazer parte desse sucesso e transforme a sua operação com a gente!'
                                ]"

            >
            </app-card-image>
            <app-card-image
                [imageUrl]="'./assets/images/cases/Sua-empresa-aqui.gif'" 
                [imageAlt]="'Sua ideia, nossa expertise!'" 
                [title]="'Sua ideia, nossa expertise!'" 
                [description]="'Estamos prontos para transformar seu projeto em realidade com soluções sob medida que fazem a diferença. No Mundo do Software, desenvolvemos ERPs e CRMs que realmente atendem às suas necessidades empresariais, otimizando processos e trazendo eficiência para sua operação.'" 
                [modalContent]="[
                                'Estamos prontos para transformar seu projeto em realidade com soluções sob medida que fazem a diferença. No Mundo do Software, desenvolvemos ERPs e CRMs que realmente atendem às suas necessidades empresariais, otimizando processos e trazendo eficiência para sua operação.',
                                'Conte conosco para criar ferramentas poderosas que impulsionam o sucesso do seu negócio. Solicite um orçamento e vamos construir juntos a solução perfeita para a sua empresa.', 
                                '@mundodosoftware – Soluções que transformam ideias em resultados.'
                                ]"
                [isActive]="true"
            >
            </app-card-image>
            <app-card-image
                [imageUrl]="'./assets/images/cases/IPSJ.png'" 
                [imageAlt]="'Logo Igreja Presbiteriana da Silva Jardim'" 
                [title]="'Sinqia S/A'" 
                [description]="'Em 2021, o Mundo do Software teve o prazer de colaborar com a Igreja Presbiteriana da Silva Jardim em Curitiba, em uma parceria incrível com o Designer Marcos Castro. Desenvolvemos um site moderno e funcional que atende às necessidades da comunidade, trazendo praticidade e facilidade de acesso a informações e eventos da igreja.'" 
                [modalContent]="[
                                'Em 2021, o Mundo do Software teve o prazer de colaborar com a Igreja Presbiteriana da Silva Jardim em Curitiba, em uma parceria incrível com o Designer Marcos Castro. Desenvolvemos um site moderno e funcional que atende às necessidades da comunidade, trazendo praticidade e facilidade de acesso a informações e eventos da igreja.',
                                'Esse projeto exemplifica nossa capacidade de integrar desenvolvimento de software e design gráfico para criar soluções digitais que realmente fazem a diferença. O site incluiu funcionalidades essenciais, como blog, formulário de contato, e certificação de segurança, garantindo uma experiência de usuário segura e eficiente.', 
                                'Se sua empresa ou organização precisa de uma solução digital que una praticidade, segurança e design intuitivo, fale conosco! Estamos prontos para desenvolver projetos que atendam exatamente ao que você precisa e superem suas expectativas.'
                                ]"

            >
            </app-card-image>
            <app-card-image
                [imageUrl]="'./assets/images/cases/o-cemiterio-veritcal-de-curitiba.webp'" 
                [imageAlt]="'Faixada do Cemitério Vertical de Curitiba'" 
                [title]="'Cemitério Vertical de Curitiba'" 
                [description]="'Nosso case de sucesso com o Cemitério Vertical de Curitiba é um exemplo marcante de como a tecnologia pode transformar processos e aumentar a eficiência de um negócio. Entre 2023 e 2024, desenvolvemos uma série de soluções digitais que incluíram o desenvolvimento de um website e sistemas específicos, como o sistema de velório online e uma plataforma de mensageria via WhatsApp.'" 
                [modalContent]="[
                                'Nosso case de sucesso com o Cemitério Vertical de Curitiba é um exemplo marcante de como a tecnologia pode transformar processos e aumentar a eficiência de um negócio. Entre 2023 e 2024, desenvolvemos uma série de soluções digitais que incluíram o desenvolvimento de um website e sistemas específicos, como o sistema de velório online e uma plataforma de mensageria via WhatsApp.',
                                'Mas nosso principal projeto foi a implantação de um ERP com CRM totalmente customizado para o setor comercial do Cemitério Vertical. Essa solução não apenas otimizou a gestão de clientes e processos internos, mas também potencializou as vendas e ajudou a equipe comercial a atingir melhores resultados. Com funcionalidades voltadas ao acompanhamento de oportunidades e gestão de contatos, o CRM facilitou o trabalho da equipe de vendas, permitindo mais foco no relacionamento com os clientes.', 
                                'Por meio dessa colaboração, ajudamos o Cemitério Vertical a melhorar seus serviços e se destacar no atendimento aos clientes. Estamos prontos para fazer o mesmo por sua empresa!'
                                ]"

            >
            </app-card-image>
            <app-card-image
                [imageUrl]="'./assets/images/cases/psidrielly.png'" 
                [imageAlt]="'Home Page da Psicóloga Drielly Uhlmann'" 
                [title]="'Psicóloga Drielly Uhlmann'" 
                [description]="'Desde 2022, temos o orgulho de trabalhar no desenvolvimento do site da psicóloga Drielly Uhlmann, em um projeto que evolui continuamente até 2024. Nesse período, nos dedicamos a aprimorar a presença digital da Drielly, trazendo inovações e melhorias constantes para refletir seu trabalho e sua mensagem de forma clara e acolhedora.'" 
                [modalContent]="[
                                'Desde 2022, temos o orgulho de trabalhar no desenvolvimento do site da psicóloga Drielly Uhlmann, em um projeto que evolui continuamente até 2024. Nesse período, nos dedicamos a aprimorar a presença digital da Drielly, trazendo inovações e melhorias constantes para refletir seu trabalho e sua mensagem de forma clara e acolhedora.',
                                'Em parceria com a fotógrafa Daphne Harrott, da Daphne Fotografia, realizamos um ensaio fotográfico incrível que capturou a essência da cliente, transmitindo confiança e profissionalismo através de imagens de alta qualidade. Essa colaboração permitiu que o site se destacasse ainda mais, oferecendo uma experiência visual impactante e autêntica para os visitantes.', 
                                'O projeto também passou por várias versões e melhorias ao longo dos anos, como a implementação de um blog para oferecer conteúdos de valor, a integração de formulários de contato e a otimização para SEO, garantindo que o público certo encontrasse os serviços da Drielly com facilidade.',
                                'Nosso compromisso foi entregar um site dinâmico, elegante e funcional, que continuasse acompanhando o crescimento da carreira da Drielly Uhlmann, sempre em alinhamento com suas necessidades e expectativas.'
                                ]"

            >
            </app-card-image>
            <app-card-image
                [imageUrl]="'./assets/images/cases/639App.png'" 
                [imageAlt]="'Logo do 639App'" 
                [title]="'639 App'" 
                [description]="'Em 2024, a Novo Humano escolheu o Mundo do Software como parceiro estratégico para o desenvolvimento do 639App, uma plataforma inovadora que transforma a maneira como as pessoas se conectam e melhoram seus relacionamentos. O desafio? Criar uma solução digital que oferecesse segurança, simplicidade e uma experiência interativa poderosa, ajudando os usuários a desenvolverem seu bem-estar emocional de forma prática e eficiente.'" 
                [modalContent]="[
                                'Em 2024, a Novo Humano escolheu o Mundo do Software como parceiro estratégico para o desenvolvimento do 639App, uma plataforma inovadora que transforma a maneira como as pessoas se conectam e melhoram seus relacionamentos. O desafio? Criar uma solução digital que oferecesse segurança, simplicidade e uma experiência interativa poderosa, ajudando os usuários a desenvolverem seu bem-estar emocional de forma prática e eficiente.',
                                'Com uma interface amigável e funcionalidades avançadas, como relatórios personalizados e ferramentas para promover interações saudáveis, o 639App já está conquistando milhares de usuários. Esse sucesso é resultado direto da experiência do Mundo do Software em criar soluções tecnológicas sob medida que realmente atendem às necessidades dos clientes e seus usuários.', 
                                'Se sua empresa também está buscando desenvolver uma plataforma digital inovadora ou melhorar suas soluções atuais, o Mundo do Software está pronto para ajudar. Com uma equipe experiente e focada em resultados, entregamos projetos que fazem a diferença, tanto para empresas estabelecidas quanto para startups que desejam crescer com segurança e inovação.',
                                'Assim como fizemos com o 639App, podemos transformar sua ideia em realidade. Não importa o tamanho do desafio, nossa expertise em desenvolvimento de software personalizado garante o sucesso do seu projeto. Entre em contato hoje mesmo e solicite um orçamento para descobrir como podemos levar sua empresa ao próximo nível com soluções tecnológicas que entregam resultados reais.'
                                ]"

            >
            </app-card-image>
            
        </div>

    </div>

</app-black-background>
