<app-banner-page
    backgroundUrl="./assets/images/Banners/16.png"
    title="iVertion CRM"
>
</app-banner-page>

<!-- Seção de Introdução -->
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="iVertion CRM"
                subtitle="Uma solução completa para gerenciar e expandir seus negócios"
            ></app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">
                O iVertion CRM é uma plataforma robusta e flexível, criada para transformar a forma como você gerencia seus clientes, otimiza seus processos e acompanha o desempenho de vendas. Com funcionalidades avançadas e uma interface intuitiva, o iVertion CRM oferece as ferramentas necessárias para potencializar o crescimento da sua empresa.
            </p>
        </div>
    </div>
</app-black-background>

<!-- Seção Gestão de Leads -->
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Gestão de Leads"
                subtitle="CONQUISTE E NUTRA OPORTUNIDADES"
            ></app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">
                O iVertion CRM torna o processo de gestão de leads muito mais eficiente. Acompanhe cada lead desde o primeiro contato até a conversão em cliente. O sistema permite:
            </p>
            <div class="min-h-10"></div>
        </div>
    </div>
    <div class="container mx-auto px-0 grid justify-items-center md:grid-cols-2 gap-10">
        <app-card-service
        titulo="Captação de Leads"
        descricao="Importe leads de diferentes fontes, como e-mail, formulários de contato ou redes sociais."
        icone="gtn gtn-sms-solid"
        active="true"
        >
        </app-card-service>
        <div>
            <img src="./assets/images/iVertion/iVertion.png" alt="iVertion CRM Mobile" class="w-96 h-auto object-cover img-left">
        </div>
        <div>
            <img src="./assets/images/iVertion/iVertion-campanha.png" alt="iVertion CRM Leads" class="w-96 h-auto object-cover img-left">
        </div>
        <app-card-service
        titulo="Classificação de Leads"
        descricao="Avalie e qualifique seus leads automaticamente com base em critérios personalizáveis."
        icone="gtn gtn-star-half-alt-solid"
        active="false"
        >
        </app-card-service>
        <app-card-service
        titulo="Acompanhamento de Interações"
        descricao="Registre cada interação com o lead, como e-mails, telefonemas ou reuniões, para que você saiba exatamente em que ponto do funil ele está."
        icone="gtn gtn-funnel-dollar-solid"
        active="true"
        >
        </app-card-service>
        <div>
            <img src="./assets/images/iVertion/iVertion-interacoes.png" alt="iVertion CRM Interações" class="w-96 h-auto object-cover img-left">
        </div>
    </div>
    <div class="min-h-10"></div>
    <div class="grid justify-items-center">
        <a href="https://wa.me/5541985075085?text=Ol%C3%A1,%20gostaria%20de%20conhecer%20mais%20sobre%20o%20iVertion%20CRM" target="_blank" class="inline-block w-80 px-6 py-3 border-2 border-teal-200 text-teal-200 font-semibold text-lg leading-tight uppercase rounded hover:bg-teal-200 hover:text-black transition-colors duration-300">
            Solicitar Demonstração
        </a>
    </div>
</app-dark-gray-background>

<!-- Seção de Painel de Desempenho -->
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Painel de Desempenho"
                subtitle="VISUALIZE SEU PROGRESSO EM TEMPO REAL"
            ></app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">
                Com o painel de desempenho do iVertion CRM, você tem uma visão detalhada do progresso das suas vendas em tempo real. O painel é totalmente personalizável e oferece gráficos e indicadores que facilitam a análise:
            </p>
        </div>
    </div>
    <div class="container mx-auto px-0 grid justify-items-center md:grid-cols-2 gap-10">
        <div>
            <img src="./assets/images/iVertion/iVertion-desempenho.png" alt="iVertion CRM Dashboard" class="w-96 h-auto object-cover img-left">
        </div>
        <app-card-diferencial
            titulo="Metas de Vendas"
            descricao="Veja o desempenho da equipe em comparação com as metas estabelecidas."
            active="false"
            icone="gtn gtn-speed-light"
        >
        </app-card-diferencial>
        <app-card-diferencial
            titulo="Acompanhamento de Pipeline"
            descricao="Visualize o funil de vendas, desde os leads capturados até as oportunidades fechadas."
            active="true"
            icone="gtn gtn-funnel-dollar-solid"
        >
        </app-card-diferencial>
        <div>
            <img src="./assets/images/iVertion/iVertion-funil.png" alt="iVertion CRM Dashboard" class="w-96 h-auto object-cover img-left">
        </div>
        <div>
            <img src="./assets/images/iVertion/iVertion-kpi.png" alt="iVertion CRM Dashboard" class="w-96 h-auto object-cover img-left">
        </div>
        <app-card-diferencial
            titulo="Insights Rápidos"
            descricao="Identifique rapidamente quais etapas do funil precisam de atenção e quais vendedores estão se destacando."
            active="false"
            icone="gtn gtn-pie-chart-light"
        >
        </app-card-diferencial>
    </div>
    <div class="min-h-10"></div>
    <div class="grid justify-items-center">
        <a href="https://wa.me/5541985075085?text=Ol%C3%A1,%20gostaria%20de%20conhecer%20mais%20sobre%20o%20iVertion%20CRM" target="_blank" class="inline-block w-80 px-6 py-3 border-2 border-teal-200 text-teal-200 font-semibold text-lg leading-tight uppercase rounded hover:bg-teal-200 hover:text-black transition-colors duration-300">
            Solicitar Demonstração
        </a>
    </div>
</app-black-background>

<!-- Seção de Demonstração -->
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Automação de Tarefas"
                subtitle="FOQUE NO QUE REALMENTE IMPORTA"
            ></app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">
                A automação de tarefas é uma das funcionalidades que mais trazem eficiência para sua equipe. O iVertion permite automatizar processos como:
            </p>
        </div>
    </div>
    <div class="grid justify-items-center">
        <div class="w-1/2 min-[300]:w-full">
            <img src="./assets/images/Banners/17.png" alt="iVertion Workflow" class="w-full h-auto object-cover justify-self-center">
        </div>
    </div>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-card-list-values [cards]="cardsWorkflowData"></app-card-list-values>
        </div>
    </div>
    <div class="min-h-10"></div>
    <div class="grid justify-items-center">
        <a href="https://wa.me/5541985075085?text=Ol%C3%A1,%20gostaria%20de%20conhecer%20mais%20sobre%20o%20iVertion%20CRM" target="_blank" class="inline-block w-80 px-6 py-3 border-2 border-teal-200 text-teal-200 font-semibold text-lg leading-tight uppercase rounded hover:bg-teal-200 hover:text-black transition-colors duration-300">
            Solicitar Demonstração
        </a>
    </div>
</app-dark-gray-background>

<!-- Seção de Testemunhos (Opcional) -->
<app-black-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Relatórios Personalizados"
                subtitle="TENHA O CONTROLE TOTAL"
            ></app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">
                Com o iVertion CRM, você pode gerar relatórios personalizados que ajudam a entender o desempenho do time de vendas, identificar gargalos e prever resultados:
            </p>
            <div class="min-h-10"></div>
        </div>
    </div>
    <div class="container mx-auto px-0 grid justify-items-center md:grid-cols-3 gap-10">
        <app-card-service
        titulo="Relatórios de Desempenho"
        descricao="Avalie o desempenho de cada vendedor ou de toda a equipe."
        icone="gtn gtn-man-light"
        active="true"
        >
        </app-card-service>
        <app-card-service
        titulo="Análise de Funil de Vendas"
        descricao="Entenda onde os leads estão sendo perdidos e quais oportunidades estão mais próximas de se converterem em vendas."
        icone="gtn gtn-funnel-light"
        active="false"
        >
        </app-card-service>
        <app-card-service
        titulo="Relatórios Financeiros"
        descricao="Veja o impacto financeiro das suas operações de vendas, com detalhes de faturamento e comissões."
        icone="gtn gtn-line-chart1-light"
        active="true"
        >
        </app-card-service>
    </div>
    <div class="min-h-10"></div>
    <div class="grid justify-items-center">
        <a href="https://wa.me/5541985075085?text=Ol%C3%A1,%20gostaria%20de%20conhecer%20mais%20sobre%20o%20iVertion%20CRM" target="_blank" class="inline-block w-80 px-6 py-3 border-2 border-teal-200 text-teal-200 font-semibold text-lg leading-tight uppercase rounded hover:bg-teal-200 hover:text-black transition-colors duration-300">
            Solicitar Demonstração
        </a>
    </div>
</app-black-background>
<app-dark-gray-background>
    <div class="container mx-auto px-4 py-8">
        <div class="container">
            <div class="min-h-10"></div>
            <app-section-title
                title="Conclusão"
            ></app-section-title>
            <div class="min-h-10"></div>
            <p class="text-justify mx-8">
                O iVertion CRM é a solução ideal para empresas que buscam uma plataforma completa para gerenciar vendas e relacionamentos com clientes de forma eficaz. Com ferramentas que simplificam e automatizam processos, além de relatórios precisos, você terá todas as informações necessárias para tomar decisões estratégicas e impulsionar o crescimento do seu negócio.
            </p>
            <div class="min-h-10"></div>
        </div>
    </div>
    <div class="grid justify-items-center">
        <p class="text-justify mx-8">
            Tenha tudo isso e muito mais, faça uma demonstração sem compromisso!
        </p>
        <div class="min-h-10"></div>
        <a href="https://wa.me/5541985075085?text=Ol%C3%A1,%20gostaria%20de%20conhecer%20mais%20sobre%20o%20iVertion%20CRM" target="_blank" class="inline-block w-80 px-6 py-3 border-2 border-teal-200 text-teal-200 font-semibold text-lg leading-tight uppercase rounded hover:bg-teal-200 hover:text-black transition-colors duration-300">
            Solicitar Demonstração
        </a>
    </div>
</app-dark-gray-background>
