<div class="container mx-auto px-6 lg:px-24 py-12 grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="flex flex-col gap-4">
        <!-- Coluna Esquerda: Imagem grande -->
        <div class="relative">
            <img src="../../../assets/images/gallery/Site-Image-1.png" alt="Nosso time" class="w-full h-auto object-cover img-left">
            <div class="absolute inset-0 bg-black bg-opacity-50 flex items-end justify-center">
                <div class="text-white p-4 text-left">
                    <h3 class="text-xl font-semibold">Nosso time</h3>
                    <p>Nosso time é composto por empreendedores e profissionais altamente capacitados, que colaboram conosco de maneira flexível e sob demanda, garantindo soluções inovadoras e de alta qualidade para cada projeto.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-4">
        <!-- Coluna Direita: Duas imagens menores -->
        <div class="relative flex-1">
            <img src="../../../assets/images/gallery/Filosofia.png" alt="Filosofia" class="w-full h-96 object-cover img-right">
            <div class="absolute inset-0 bg-black bg-opacity-50 flex items-end justify-center">
                <div class="text-white p-4 text-left">
                    <h3 class="text-xl font-semibold">Filosofia</h3>
                    <p>Transformamos ideias em soluções digitais que impulsionam negócios, com qualidade, inovação e compromisso com o sucesso dos nossos clientes.</p>
                </div>
            </div>
        </div>
        <div class="relative flex-1">
            <img src="../../../assets/images/gallery/Site-Image.png" alt="Sobre Escritório" class="w-full h-96 object-cover img-right">
            <div class="absolute inset-0 bg-black bg-opacity-50 flex items-end justify-center">
                <div class="text-white p-4 text-left">
                    <h3 class="text-xl font-semibold">Sobre Escritório</h3>
                    <p>Somos uma empresa 100% digital, com uma estrutura totalmente remota, que permite agilidade, eficiência e flexibilidade para atender nossos clientes de qualquer lugar, mantendo sempre a formalidade e legalização necessárias.</p>
                </div>
            </div>
        </div>
    </div>
</div>
